html {
    scroll-behavior: smooth;
}

/*======== Using Css Custom Variables ========*/

body.dark {
    --bg-color1: #0b0f19;
    --bg-color2: #1c1e2a;
    --color1: #FFF;
    --color2: #DDD;
    --color3: #ADB7C0;
}

body:not(.dark) {
    --bg-color1: #fbfdff;
    --bg-color2: #f5f5f5;
    --color1: #2F362F;
    --color2: #000;
    --color3: #39565E;
}

/*======== Universal CSS Properties ========*/


*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    color: var(--color1);
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 1.25rem;
    color: var(--color1);
    font-weight: 600;
}

h6 {
    font-size: 1rem;
}

p {
    color: var(--color1);
    font-weight: 500;
}

p strong {
    font-weight: 600;
    color: var(--color2);
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    font-family: "Montserrat Alternates", "Averia Libre";
}

/* ========== Dark And Light Mode Toggle ======== */

.theme-toggle {
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 0;
    border: none;
    background-color: var(--color2);
}

body:not(.dark) .theme-toggle .lni-night,
body.dark .theme-toggle .lni-sun {
    cursor: pointer;
    color: var(--bg-color2);
    padding: 10px 10px;
    display: block;
    font-size: 1.25rem;
}

body:not(.dark) .theme-toggle .lni-sun {
    display: none;
}

body.dark .theme-toggle .lni-night {
    display: none;
}

/*========= Navigation Link When Scroll Active =======*/


.portfolio-navbar ul li a.active-link {
    font-weight: 800;
}

.portfolio-navbar ul li a:hover {
    font-weight: 600;
}

/*======== CSS Header Stick To Top =========*/

header.header-sticky {
    position: fixed;
    background-color: #f5f5f5;
    z-index: 2000;
    transition: .4s;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-sticky .brand-name a {
    color: #897F64;
}

.header-sticky .navbar-toggle i {
    color: var(--color3);
}

.header-sticky .portfolio-navbar ul li a {
    color: var(--color3);
}

/* ======= Wraper ======== */

.portfolio-container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
}

/*========== Styling Navigation Bar ========*/

header {
    left: 0;
    right: 0;
    z-index: 20;
    transition: .8s;
    padding: 15px;
    position: fixed;
    background-color: var(--bg-color1);
}

header .portfolio-row.header-wrap {
    justify-content: space-between;
    align-items: center;
}

.brand-name a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #897F64;
}

.portfolio-navbar {
    display: none;
}

.navbar-toggle i {
    font-size: 1.25rem;
    line-height: 30px;
    cursor: pointer;
    color: #897F64
}

/*========== Responsive Navigation Menu =======*/

.portfolio-navbar.show {
    display: block;
    position: absolute;
    background-color: rgb(236, 241,256);
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    border-top: 5px solid #000;
    text-align: center;
}

.portfolio-navbar ul li {
    display: block;
}

.portfolio-navbar ul li a {
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 45px;
}

/* ========= Style For About Section ======== */

#about {
    padding-top: 100px;
    background-color: var(--bg-color1);
}

.about-content {
    align-items: center;
}

.about-intro {
    margin: 3rem 0;
    width: 100%;
    order: 2;
    text-align: center;
}

.about-text h3 {
    color: var(--color1);
    margin-bottom: 10px;
}
.about-text span {
    color: #897F64;
}

/*======== CSS Main Heading =======*/

h1 strong,
h2 strong {
    background-image: linear-gradient(to right, #897F64 0%,  #39565E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* =========== Style For About Image ========== */

.about-image {
    width: 100%;
    order: 1;
    position: relative;
    z-index: 2;
    transition-duration: 0.4s;
    cursor: pointer;
}

.about-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(11deg, #897F64 0%, #ADB7C0 100%);
    z-index: -1;
    transition: all .5s ease-in-out;
    border-radius: 100% 73% 100% 72% / 99% 86% 75% 63%;
    box-shadow: 2px 10px 0px 0px rgba(49, 59, 100, 0.16);
}

.about-image:hover {
    transform: translateY(-10.5px);
}

.about-image img {
    border-radius: 100% 73% 100% 72% / 99% 86% 75% 63%;
}

.about-image:hover::before {
    filter: drop-shadow(0 0 30px #897F64);
}

/*======== Style for resume section ========*/

#resume {
    padding: 60px 0;
    background-color: var(--bg-color2);
}

/*======== Resume Intro ========*/

.resume-intro {
    width: 100%;
}

.resume-text {
    margin-top: 18px;
}

/*======== Hello Button ========*/

.hello-btn {
     font-family: "Montserrat Alternates", "Averia Libre";
     font-weight: 500;
     
}

.hello-btn a {
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px;
    padding: 15px 45px;
    color:  #2F362F;
    background-color: #ADB7C0;
    line-height: 30px;
    transition: all 0.3s ease-out 0s;
   
}

.hello-btn a:hover {
    background-color: #897F64;
    color:  #fff;
}

/*======== Style for Resume Body ========*/

.resume-body {
    width: 100%;
    margin-top: 20px;
}

.resume-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    padding: 0 10px;
    background-color: #ADB7C0;
    font-size: 1.1rem;
    border-radius: 5px;
    line-height: 40px;
    color: #000;
    cursor: pointer;
    border: 0;
    font-family: "Montserrat Alternates", "Averia Libre";
    margin-top: 1rem;
    transition: .4s;
}

.btn:not(:last-child) {
    margin-right: 15px;
}

.btn:hover,
.btn.active {
    background-color: #897F64;
    color: #FFF;
}

/*======== Style For Resume Tab ========*/

.resume-tab {
    display: none;
}

.resume-tab.active {
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.institution, 
.organization {
    color: #897F64;
    font-weight: 500;
    font-size: smaller;
}

.years {
    color: var(--color1);
}

.qualification-content {
    position: relative;
    padding: 1rem 2.1rem;
}
.qualification-content::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 8px;
    top: 25px;
    transform: rotate(45deg);
    background: var(--color3);
}

.qualification-content::before {
    content: "";
    height: 70px;
    width: 3px;
    left: 10px;
    position: absolute;
    background: #e8e8e8;
}

/*========== Style For Skills Bar Progress ==========*/

.bar-content {
    margin-bottom: 15px;
}

.bar-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.bar-title,
.bar-percentage {
    color: var(--color1);
}

.bar-progress {
    display: flex;
    background-color: #e9eeef;
    height: 8px;
    border-radius: 5px;
}

.progress-bar {
    width: 0;
    display: flex;
    position: relative;
    transition-delay: 0s;
    transition-delay: 1.5s;
    background-color: #897F64;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.resume-tab.active .progress-bar {
    animation: progress 1500ms ease-in 1;
}

@keyframes progress {
    from {
        width: 0;
    }
}

/*========== Style For Services Section ==========*/

#services {
    padding: 60px 0;
    background-color: var(--bg-color1);
}

.service-row {
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   gap: 2rem;
   margin-top: 2rem;
}

.service-card {
    background: var(--bg-color2);
    cursor: pointer;
    border-radius: 5px;
    padding: 40px 35px;
    text-align: center;
    transition: 4s;
}

.service-card .icon {
    font-size: 2.5rem;
    transition: .4s;
    color: var(--color1);
}

.service-content h6 {
    color: var(--color1);
    transition: .4s;
    margin: 1rem 0;
}

.service-content p {
    color: var(--color1);
    transition: .4s;
}

.service-card:hover {
    background-color: var(--color3);
    transform: translateY(-10.5px);
}

.service-card:hover .icon,
.service-card:hover h6, 
.service-card:hover p {
    color: #FFF;
}

/*========== Style For Project Section ==========*/

#projects {
    position: relative;
    padding: 60px 0;
    background-color: var(--bg-color2);
}

.projects-intro h2 {
    color: var(--color1);
    margin-bottom: 20px;
}

.projects-text p {
    font-size: 1rem;
    color: var(--color1);
    text-align: left;
    max-width: 600px;
    margin: 0 auto 40px;
    
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.333% - 20px);
    background-color: #fff;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(43, 53, 48, 0.6);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.project-item:hover .project-overlay {
    opacity: 1;
}

.project-details {
    color: #fff;
}

.project-details h3 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-details p {
    margin: 0;
    font-size: 1rem;
    color: #FFF;
}


    /* Responsive adjustments */
    @media (max-width: 992px) {
        .project-item {
            width: calc(50% - 20px); 
        }
        }
    
        @media (max-width: 576px) {
        .project-item {
            width: 100%; 
        }
    }

/*========== Style For Contact Section ==========*/

#contact {
    background-color: var(--bg-color1);
    padding: 60px 0;
}

.contact-general {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.contact-card {
    text-align: center;
}

.contact-card .icon i{
    font-size: 2.5rem;
    color: var(--color3);
}

.contact-content {
    margin-top: 20px;
}

.contact-content h5 {
    font-size: 1rem;
    color: var(--color1);
    font-weight: 500;
}

.contact-content span {
    color: var(--color1);
}

/* ======= Style For Contact Form ======== */

#contact-form {
    margin: 2rem auto;
}

#contact-form label {
    margin-bottom: 5px;
    color: var(--color1);
}

.name-email {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
}

.input-control,
.contact-msg {
    font-family: "Montserrat Alternates", "Averia Libre";
    font-size: 1rem;
    background-color: #f6f6f9;
    border: 1.5px solid var(--color3);
    border-radius: 5px;
    color: #2F362F;
    height: 50px;
    line-height: 56px;
    outline: 0;
    padding: 0 30px;
    width: 100%;
    font-weight: 500;
}

.contact-msg {
    height: 150px;
    line-height: 1.2;
    padding: 20px 30px;
    resize: none;
}

.input-subject,
.form-submit {
    width: 100%;
    margin-bottom: 1rem;
}

.btn-submit {
    width: 100%;
    padding: 15px 30px;
    color: #897F64;
    font-weight: 800;
    font-family: "Montserrat Alternates", "Averia Libre";
    background-color: var(--color1);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* ========= Message After Form Submission =======*/

.loader {
    width: 100%;
    padding: 10px;
    background-color: #2F362F;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    display: none;
}

.loader.show {
    display: block;
}

.loader i {
    animation: rotateme .4s linear infinite;
    color: var(--color2);
}

/*============ Loader animation =========*/

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-message {
    display: none;
    width: 100%;
    background-color: #2F362F;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}

.form-message.show {
    display: block;
}

.success-msg {
    color: #ADB7C0;
    line-height: 3;
}

.error-msg {
    color: red;
    line-height: 3;
}

/*============ CSS for Footer Section =========*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background-color: var(--bg-color2);
    padding-block: 40px 60px;
    font-family: "Montserrat Alternates", "Averia Libre";
}

.top-footer p {
    font-size: 25px;
    font-weight: 600;
    color: var(--color1);
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--color2);
    font-weight: 500;
    margin-inline: 20px;
}

.footer-social-icons {
    display: flex;
    gap: 30px;   
    color: var(--color2)
}

.footer-social-icons a {
    color: #897F64;
}

.footer_menu_list a:hover {
    color: #897F64;
}

.bottom-footer a {
    font-size: 14px;
    margin-top: 10px;
    color: #897F64;
    font-weight: 500;
}


/* --------- Large Devices (desktops, 768px and up) -------- */

@media (min-width:768px) {

    /*======== Responsive Universal CSS Properties ========*/

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
        text-align: unset;
        color: var(--color1);
        font-weight: 600;
    }

    /* ========= Header Responsive ======== */

    header {
        background-color: transparent;
        position: absolute;
        padding: 0 15px;
    }

    .navbar-toggle i {
        display: none;
    }

    .portfolio-navbar {
        display: block;
    }

    .portfolio-navbar ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .portfolio-navbar ul li a {
        color: var(--color1);
        line-height: 65px;
    }

    /* ======== About Section Responsive ======== */

    #about {
        padding: 175px 0 150px 0;
    }

    .about-intro {
        width: 60%;
        margin: 0;
        order: 1;
        text-align: unset;
    }

    /* ==== About Image Responsive ===== */

    .about-image {
        width: 40%;
        order: 2;
    }

    /* ==== Resume Intro Responsive ===== */

    .resume-intro {
        width: 50%;
        padding-right: 6.25rem;
    }

    /* ==== Resume Body Responsive ===== */

    .resume-body {
        width: 50%;
        margin-top: 0;
        min-height: 400px;
    }

    .resume-body h2 {
        display: none;
    }

    .resume-heading {
        padding: 20px 0;
    }
    .btn {
        padding: 0 25px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .qualification-content::after {
        left: -2px;
    }

    .qualification-content::before {
        left: 0;
    }

    .bar-content {
        margin-bottom: 0;
    }

    /*========== Service Responsive ==========*/

    .service-row {
        grid-template-columns: repeat(3, 1fr);
    }

    /*========== Contact General Responsive ==========*/

    .contact-general {
        grid-template-columns: repeat(3, 1fr);
        margin: 4rem 0;
    }

    .contact-general h2 {
        display: none;
    }

    .contact-card:nth-of-type(2) {
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
    }

    /* ======= Contact Form Responsive ======== */

    #contact-form {
        margin: 2rem auto;
        width: 80%;
    }

     /*========== Theme Icon Color When Navbar Sticky ========*/

     .theme-toggle {
        background: none;
        position: static;
        transform: none;
    }

    body:not(.dark) .header-sticky .theme-toggle .lni-night,
    body.dark .header-sticky .theme-toggle .lni-sun {
        color: #3e4455;
    }

    body:not(.dark) .theme-toggle .lni-night,
    body.dark .theme-toggle .lni-sun {
        color: var(--color2);
    }
}

@media (max-width: 600px) {
    .about-image {
        width: 100%;
    }
    .middle-footer .footer-menu {
        display: inline-block;
        align-items: center;
        flex-direction: column;
      }

    .footer_menu_list {
        margin: 15px 0;
    }

    .footer_menu_list a {
        font-size: 16px;
    }

    .footer_menu_list a:hover {
        color: #897F64;
    }

    .bottom-footer {
        text-align: center;
    }
}